html {
    height: 100%;
    padding: 0;
    margin: 0;
}



body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tabs{
    display: flex;
    padding: 3px 20px;
    justify-content: space-between;

}



button {
    font-size: 32px;
    border:0;
    background-color: transparent;
    padding:25px;
    cursor: pointer;
    border-bottom: 1px solid black;
}

button:hover {
    /*border-top: 2px solid transparent;*/
    border-bottom: 2px solid aqua;
}